.page-footer-overlay {
  position: absolute !important;

  inset: auto !important;

  left: 0 !important;
  top: 0 !important;

  width: 100% !important;
  height: 100% !important;

  object-fit: fill;

  pointer-events: none;

  z-index: 20;
}